django==6.0.2
asgiref==3.11.1
sqlparse==0.5.5
tzdata==2025.3
python-dotenv==1.2.1
psycopg==3.3.2
psycopg2-binary==2.9.11
django-allauth==65.14.3
whitenoise==6.11.0
gunicorn==25.1.0
uvicorn==0.40.0
h11==0.16.0
anyio==4.12.1
idna==3.11
pyyaml==6.0.3
packaging==26.0
click==8.3.1
colorama==0.4.6